*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
    width: 1200px;
    margin:0 auto;
}

.font_style{
    font-family:'YouYuand3e88b7795757';
}

body{
    min-width: 1000px;
    font-family:'YouYuand3e88b7795757';
    padding-top: 100px;
    font-weight: lighter;
}

/* 导航 */
.web_nav{
    width: 100%;
    height: 100px;
    background: #1b1c1c;
    display: block;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.main_nav{
    width: 1200px;
    margin:0 auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.main_nav ul li a{
    position: relative;
}

.main_nav ul li a:before{
     content: "";
     display: block;
     width: 100%;
     position: absolute;
     bottom: 0;
     left: 0;
     border-bottom: 1px solid red;
     display: none;
}

.main_nav .logo{
    display: flex;
    width: 120px;
    height: 76px;
    align-items: center;
    /*background: #666;*/
    margin-right: 200px;
}

.main_nav .logo img{
    width: 100%;
}

.main_nav ul{
    display: flex;
    flex: 1;
}

.main_nav ul li{
    line-height: 144px;
    color: #fff;
    flex: 1;
}

.main_nav ul li a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    color: #fff;
    cursor: pointer;
}

.main_nav ul li a:hover{
    background: #111;
}

/* 轮播 */
.swiper{
    width: 100%;
    height: 650px;
    background: #777;
    position: relative;
    overflow: hidden;
}

.swiper img{
    width: 1980px;
    height: 650px;
    position: relative;
    z-index: 1;
}

.text_floor{
    height: 100%;
    /*border:1px solid #f3f;*/
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /*background: rgba(255, 255, 255, .5);*/
    padding-top: 200px;
    padding-left: 80px;
}

.text_floor h1{
    font-size: 50px;
    font-weight: lighter;
    color: #fff;
    text-decoration: none;
    margin-bottom:20px;
}

.text_floor h3{
    font-size: 24px;
    font-weight: lighter;
    color: #fff;
    line-height: 40px;
}

.make_applet{
    width: 200px;
    height: 50px;
    border-radius: 150px;
    font-size: 20px;
    color: #b1b7b0;
    background:#272524;
    display: inline-block; 
    text-align: center;
    line-height: 48px;
    position: absolute;
    right: 50px;
    margin-top: 100px;
    font-family: '微软雅黑';
}

.make_applet:hover{
    background: #000;
    color: #fff;
    /*transition: 0.05s;*/
}

/* 页面 */
.section{
    overflow: hidden;
    /*border:1px solid red;*/
}

.section h1{
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    font-weight: lighter;
}

.section1 h1{
    padding-top: 100px;
    padding-bottom: 50px;
}

.section1 .section_main{
    width: 1242px;
    margin: 0 auto;
    background: url(../img/section1_bg.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    display: flex;
}


.section1 .mobile_div img{
    display: block;
    width: 560px;
    height: 990px;
    margin:70px 40px 0 40px;
}

.section1 .section_main dl{
    padding-top: 226px;
}

.section1 .section_main{
    color: #fff;
}

.section1 .section_main dt{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: lighter;
}

.section1 .section_main dd{
    margin-bottom: 56px;
    font-size: 16px;
    font-weight: lighter;
}

.section1 .section_main dt:nth-last-of-type(1),.section1 .section_main dt:nth-last-of-type(2){
    color: #333;
}

.section1 .section_main dd:nth-last-of-type(1),.section1 .section_main dd:nth-last-of-type(2){
    color: #333;
}

/*页面2*/
.section2 .section_main nav{
   display: flex;
   justify-content: center;
   margin-bottom: 100px;
}

.section2_in{
    overflow: hidden;
    margin:0 auto;
    padding-top: 100px;
    width: 100%;
}

.section2 .section_main nav font{
    display: block;
    width: 50px;
    height: 50px;
    background: #eff4f7;
    margin:0 3px;
}

.section2 .section_main nav ul {
    display: flex;
}

.section2 .section_main nav ul li{
    width: 108px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #333;
    background: #eff4f7;
    margin:0 3px;
}

.section2 .section_main .show_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.section2 .section_main .show_box span,.section2 .section_main .show_box span img{
    display: block;
}

.section2 .section_main .show_box .show_img1 img{
    width: 586px;
    height: 350px;
    display: block;
}


.section2 .section_main .show_box .show_tip{
    width: 360px;
    height: 350px;
    background: #000;
    color: #fff;
    padding:0 20px;
}

.section2 .section_main .show_box .show_tip dl{
    padding-top: 64px;
    position: relative;
}

.section2 .section_main .show_box .show_tip dl dt{
    margin-bottom: 10px;
    font-size: 18px;
}

.section2 .section_main .show_box .show_tip dl dd{
    margin-bottom: 24px;
    line-height: 20px;
    font-size: 14px;
}

.section2 .section_main .show_box .show_tip1 dl:before{
    display: block;
    content: "";
    width: 0;
    height: 0;
    left: -42px;
    top: 20px;
    position: absolute;
    border-top: 20px solid transparent;
    border-right: 24px solid #000;
    border-bottom: 20px solid transparent;
}


.section2 .section_main .show_box  .row{
    display: flex;
}

.section2 .section_main .show_box .show_tip2{
    height: 334px;
    position: relative;
    background: #293c38;
}

.section2 .section_main .show_box .show_tip2:before{
    display: block;
    content: "";
    width: 0;
    height: 0;
    right: -24px;
    top: 20px;
    position: absolute;
    border-top: 20px solid transparent;
    border-left: 24px solid #293c38;
    border-bottom: 20px solid transparent;
}

/*页面3*/
.section3 .section_main{
    display: flex;
    width: 1242px;
    margin:0 auto;
}

.section3 .section_main nav{
    width: 608px;
    padding-left: 222px;
    padding-top: 100px;
}

.section3 .section_main nav ul li{
    display: flex;
    margin-bottom: 20px;
    position: relative;
}

.section3 .section_main nav ul li span{
    display: block;
    width: 106px;
    height: 106px;
    background: #4c4d4c;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    position: relative;
    cursor: pointer;
}

.section3 .section_main nav ul li font{
    display: block;
    width: 178px;
    height: 238px;
    border:1px solid #333;
    border-radius: 6px;
    padding:20px;
    position: absolute;
    left: 158px;
    display: none;
    z-index: 2;
    font-size: 25px;
    padding-left: 30px;
    line-height: 30px;
    font-weight: lighter;

}

.section3 .section_main nav ul li font:before{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: #fff;
    border-top: 1px solid #333;
    border-left:1px solid #333;
    transform: rotate(-45deg);
    position: absolute;
    left: -13px;
    border-radius: 4px;
    z-index: 1;
}

.section3 .section_main .mobile_box {
    position: relative;
}

.section3 .section_main .mobile_box  .mobile_bg{
    display: block;
    width: 484px;
    height: 934px;
    position: relative;
}


.section3 .section_main .mobile_box .mobile_img_box{
    position: absolute;
    left: 0;
    top: 0;
}

.section3 .section_main .mobile_box .mobile_img_box img{
    display: block;
    width: 374px;
    height: 654px;
    position: absolute;
    left: 54px;
    top: 115px;
    display: none;
}

.section3 .section_main .mobile_box .mobile_img_box img:nth-of-type(1){
    display: block;
}

.section3 h1{
    margin:100px;
}

/*页面4*/
.section4{
    background: url(../img/section4_point_bg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-top: -100px;
    padding-top: 170px;
    overflow: hidden;
}

.section4 h1{
    margin-bottom: 100px;
}

.section4 .anli_list{
    width: 1242px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
}

.section4 .anli_list li{
    width: 33%;
    position: relative;
    display: flex;
    margin-bottom: 60px;
}

.section4 .anli_list li .applet_box{
    width: 202px;
    height: 202px;
    flex-shrink: 0;
    margin-right: 26px;
    cursor: pointer;
    background: #fff;
}

.section4 .anli_list li .applet_box img{
    position: absolute;
    left: 0;
    top: 0;
    width: 202px;
    height: 202px;
    border:1px solid #777;
    border-radius: 4px;
}

.section4 .anli_list li .applet_box img:nth-of-type(2){
    display: none;
}

.section4 .anli_list li .applet_content h3{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 26px;
    padding-top: 26px;
}

.section4 .anli_list li .applet_content p{
    line-height: 22px;
    font-weight: normal;
    padding-right: 20px;
    color: #686868;
    font-size: 16px;
}

/*页面5*/
.section5 h1{
    font-weight: lighter;
    color: #1f201f;
    width: 100%;
    overflow:hidden;
    margin-bottom: 30px;
}

.section5 .section_main{
    margin:0 auto;
    height: 810px;
    background: url(../img/section5_bg.png);
    background-size: 100% 100%;
    padding-top: 98px;
}

.section5 .section_main h1{
    color: #fff;
}

.section5 .section_main .tip{
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    color: #fff;
}

.section5 .section_main .apply_applet{
    width: 200px;
    height: 45px;
    display: flex;
    line-height: 40px;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin:90px auto 110px auto;
    border:2px solid #fff;
    border-radius: 4px;
}

.section5 .section_main .company_info .info p{
    font-size: 18px;
    color: #fff;
}

.section5 .section_main .company_info{
    display: flex;
    width: 1242px;
    margin:0 auto;
}

.section5 .section_main .company_info li{
    color: #fff;
}

.section5 .section_main .company_info li:nth-of-type(1){
    width: 330px !important;
    margin-right: 40px;
}

.section5 .section_main .company_info li:nth-of-type(1) h3{
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: normal;
}

.section5 .section_main .company_info li:nth-of-type(1) p{
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 26px;
}

.section5 .section_main .company_info li:nth-of-type(2){
    flex:1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 20px;
}

.section5 .section_main .company_info li:nth-of-type(2) a{
    display: block;
    width: 200px;
    line-height: 45px;
    height: 45px;
    border-bottom: 1px solid rgba(255,255,255,.5);
    color: #fff;
    margin-right: 40px;
}

.section5 .section_main .company_info li:nth-of-type(3){
    width: 350px;
}

.section5 .section_main .company_info li:nth-of-type(3).contact .email{
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.section5 .section_main .company_info li:nth-of-type(3).contact h3{
    margin-bottom: 24px;
    font-weight: normal;
}

.section5 .section_main .company_info li:nth-of-type(3).contact .address{
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.section5 .section_main .company_info li:nth-of-type(3).contact .email img{
    width: 22px;
    height: 15px;
    margin-right: 20px;
}

 .section5 .section_main .company_info li:nth-of-type(3).contact .address img{
    width: 20px;
    height: 25px;
    margin-right: 20px;
}

.section5 .section_main .company_info li:nth-of-type(3).contact .phone{
    display: flex;
    align-items: center;
    padding:10px 0;
}


.section5 .section_main .company_info li:nth-of-type(3).contact .phone img{
    width: 25px;
    display: block;
    margin-right: 20px;
}

.section5 .section_main .company_info li:nth-of-type(3).contact a{
    text-decoration: none;
    color: #fff;
}

